html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#title{
    height: 10px;
    width: 800px;
    z-index: 1001;
    top: 10px;
    left: 40px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 45;
    filter: drop-shadow(10px 15px 10px rgba(217, 217, 217, 0.9));
}

#subTitle{
    height: 10px;
    width: 800px;
    z-index: 1001;
    top: 60px;
    left: 40px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25;
    filter: drop-shadow(10px 15px 10px rgba(217, 217, 217, 0.9));
}

#subSubTitle{
    height: 10px;
    width: 800px;
    z-index: 1100;
    top: 100px;
    left: 40px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18;
    filter: drop-shadow(10px 15px 10px rgba(217, 217, 217, 0.9));
}

.fa-question-circle {
    padding-left: 9px;
}

.fa-question-circle:hover {
   color: #d53e4f;
}

h1 {
   font-family: 'Roboto', sans-serif;
   font-weight: 900 !important;
   font-size: 30px !important;
   padding: 0px 0px 0px 10px !important;
   margin-top: 0px;
   margin-bottom: 0px;
    
}

h2 {
   font-family: 'Roboto', sans-serif;
   font-weight: 600 !important;
   font-size: 20px !important;
   padding-left: 6px;    
}

h3 {
   font-family: 'Roboto', sans-serif;
   font-weight: 400 !important;
   font-size: 15px !important;
   padding-left: 7px;    
}

h4 {
   font-family: 'Roboto', sans-serif;
   font-weight: 400 !important;
   font-size: 13px !important;
   padding-left: 7px;    
}

a {
    color: #3288bd;
    text-decoration: none;
}

a:hover {
    color: #9e0142;
}

/***************Search Styling*************/

#addSearchBox {
    position: absolute;
    left: 40px;
    top: 245px;
    z-index: 10001;
    width: 320px;
}

.searchTitle {
   font-family: 'Roboto', sans-serif;
   font-weight: 400 !important;
   font-size: 18px !important;
   padding-bottom: 4px;   
   filter: drop-shadow(10px 15px 10px rgba(217, 217, 217, 0.9));    
}

#addSearch {
    width: 100%;
    border: 3px solid #000;
    border-radius: 5px;
}

#wordSearchBox {
    position: absolute;
    left: 390px;
    top: 245px;
    z-index: 10001;
    width: 320px;
}

#wordSearch {
    width: 100%;
    border: 3px solid #000;
    border-radius: 5px;
    
}

#infoDiv {
    background-color: #fff;
    opacity: 0.9;
    width: 450px;
    height: 500px;
    border-radius: 10px;
    border: 3px solid #000;
    padding: 0px 10px 10px 10px;
}

/***************Icon Styling*************/

#menu{
    height: 10px;
    width: 800px;
    z-index: 1001;
    top: 130px;
    left: 30px;
    position: absolute;
    background-color: transparent;
    display:flex;
    justify-content:space-around
}

#icon_div {
    cursor:pointer;
    display:flex;
    flex-direction:column;
    width: 18%;
}

.black_history, .building, .civil, .colonial, .indust, .comm, .instit, .na, .people, .rev {
    margin:0 auto;
    max-width:60px;
    opacity: 1;
    width: 80%;
    cursor: pointer;
    z-index: 1;
    
}

.black_history:hover, .building:hover, .civil:hover, .colonial:hover, .indust:hover, .comm:hover, .instit:hover, .na:hover, .people:hover, .rev:hover {
    opacity: 0.7;
}

.black_history.pressed, .building.pressed, .civil.pressed, .colonial.pressed, .indust.pressed, .comm.pressed, .instit.pressed, .na.pressed, .people.pressed, .rev.pressed  {
  opacity: 0.5
}

#bh_name, #p_name, #cw_name, #ch_name, #i_name, #cc_name, #inst_name, #na_name, #pe_name, #r_name {
    color:#000;
    font-size:15px;
    line-height:16px;
    margin-top:4px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    filter: drop-shadow(10px 15px 10px rgba(217, 217, 217, 0.9));
}

#bh_name.pressed, #p_name.pressed, #cw_name.pressed, #ch_name.pressed, #i_name.pressed, #cc_name.pressed, #inst_name.pressed, #na_name.pressed, #pe_name.pressed, #r_name.pressed {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    opacity: 0.7;
}

.black_history:hover ~ #bh_name {
    opacity: 0.7
}

.building:hover ~ #p_name {
    opacity: 0.7
}

.civil:hover ~ #cw_name {
    opacity: 0.7;
}

.colonial:hover ~ #ch_name {
    opacity: 0.7;
}

.indust:hover ~ #i_name {
    opacity: 0.7;
}

.comm:hover ~ #cc_name {
    opacity: 0.7;
}

.na:hover ~ #na_name {
    opacity: 0.7;
}

.instit:hover ~ #inst_name {
    opacity: 0.7;
}

.people:hover ~ #pe_name {
    opacity: 0.7;
}

.rev:hover ~ #r_name {
    opacity: 0.7;
}

/***************Popup Styling*************/

.popIcon {
    height: 60px;
    width: 60px;
}

.esri-popup__main-container {
    border-radius: 10px !important;
    border: 6px solid #000;
    width: 600px !important;
    height: auto;
}

.esri-popup__title {
    padding: 5px !important;
}

.esri-popup__header-title {
    margin: 0px 0px 0px 0px !important;
    padding-bottom: 0px;
}

.esri-popup__header-title:hover {
    background-color: #ffffff !important;
}

.esri-popup__button {
    color: #404040 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.esri-popup__button:hover {
    color: #d53e4f !important;
    background-color: transparent !important;
}

/***************Nav Button Styling*************/

.esri-zoom  {
  background-color: transparent !important;
}

.esri-ui-corner .esri-component {
  box-shadow: none !important;
}

.esri-zoom .esri-widget--button:last-child {
  border-top: 3px solid #000000 !important;
}

.esri-navigation-toggle:hover,
.esri-navigation-toggle:focus {
  background-color: transparent !important;
}

.esri-zoom .esri-widget--button {
  color: #000 !important;
  background-color: #ffff !important;
  border: 3px solid #000 !important;
  border-radius: 50% !important;
  margin-top: 3px !important;
}

.esri-home {
  color: #000 !important;
  background-color: #fff !important;
  border: 3px solid #000 !important;
  border-radius: 50% !important;
  margin-top: 0px !important;
}

.esri-expand {
    background-color: transparent !important;
}

.esri-expand .esri-widget--button {
  color: #000 !important;
  background-color: #fff !important;
  border: 3px solid #000 !important;
  border-radius: 50% !important;
  margin-top: 0px !important;
}

.esri-expand__content {
    border-radius: 10px;
}

.esri-navigation-toggle__button {
  color: #000 !important;
  background-color: #ffff !important;
  border: 3px solid #000 !important;
  border-radius: 50% !important;
  margin-top: 3px !important;
}

.esri-navigation-toggle {
    background-color: transparent !important;
}

.esri-widget--button:hover {
  background-color: #d53e4f !important;
  color: #000 !important;
}

/***************Tooltip Styling*************/

.fa-question-circle .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: rgba(255,255,255, 0.9);
  color: #404040;
  text-align: left;
  border-radius: 5px;
  border: 3px solid #000;
  padding: 8px;
  position: absolute;
  top: 215%;
  left: 25.4%;
  margin-left: -60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
  font-size: 13px !important;    
}

.fa-question-circle .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 102%;
  left: 50.5%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.fa-question-circle:hover .tooltiptext {
  visibility: visible;
}
